
body {
    margin: auto;
    background-image: url(/images/background.jpeg);
    background-position: center;
}

.main {
    margin: 25vh auto;
    border: 5px solid transparent;
    border-radius: 2.5rem;
    box-shadow: 5px 5px 5px 15px rgb(130, 17, 17), -15px 15px 15px rgb(126, 138, 126);
    background-color: rgba(127, 255, 212, 0.172);
}

.header{
    text-align: center;
}

input, #btn {
    border: 2px solid red;
    border-radius: 0.3rem;
}

input::placeholder{
    color: rgba(255, 255, 255, 0.349);
}

