
body {
    margin: auto;
    background-image: url(background.jpg);
    background-position: center;
}

.main {
    margin: 25vh auto;
    width: 30rem;
    border: 5px solid transparent;
    border-radius: 2.5rem;
    box-shadow: 5px 5px 5px 15px rgb(130, 17, 17), -15px 15px 15px rgb(126, 138, 126);
    background-color: rgba(228, 15, 11, 0.698);
}

.header{
    text-align: center;
}

input, #btn, #rst {
    border: 2px solid red;
    border-radius: 0.3rem;
}

#rst {
    display: none;
}

input::placeholder{
    color: rgba(255, 255, 255, 0.349);
}

@media screen and (max-width: 500px) {
    body {
        background-image: url(background\ -\ mobile.jpg);
    }
    .main {
        width: 24rem;
    }
}
